<p>login works!</p>
<div class="container">
<div class="form-group">
  <label for="username">Enter the Username</label>
  <input type="text" name="username" id="username" #uname class="form-control"
   placeholder="" aria-describedby="helpId">
  </div>
  <div class="form-group">
    <label for="password">Enter the password</label>
    <input type="password" name="password" #pwd id="password" 
    class="form-control" placeholder="" aria-describedby="helpId">
    </div>
   <button (click)="checkcredentials(uname.value,pwd.value)">Login </button>

   <p class="text-danger">{{msg}}</p>
    </div>