
<h1>  App Components Works</h1>
<!-- <app-sample></app-sample> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-stylebinding></app-stylebinding> -->

<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-templateref></app-templateref> -->
<app-directivedemo></app-directivedemo>
<!-- <router-outlet></router-outlet> -->
<!-- <h2> This is My Angular App</h2>
<p> I am learnig SPA using Angular</p> -->

<!-- <h2> Welcome to  {{title}}</h2>
<router-outlet></router-outlet>

<h3>2+ 2= {{2+2}} </h3>
<h3>2 * 4= {{2*4}} </h3>
<h3> {{" 2 + 2 ="+2+2 }}</h3>
<h3> {{"2+5 ="+(2+5)}}</h3>

<h2>Name : {{name}}</h2> 
<h2>  Designation : {{designation}}</h2>
<h2>  Num value  is : {{num1}}</h2>

<h2>Intergenumbers[3] = {{integerNumbers[3]}} </h2>

<h2> Current Time : {{ greetme()}}</h2> 

<h2> Today Date {{ todaydate()}}</h2> 
<h2>  Integer array Elements are </h2>
<ul>
  <li *ngFor="let num of integerNumbers">
    {{num}}
  </li>
</ul>  -->

