
<!-- <app-ngifcgidemo></app-ngifcgidemo> -->
<app-ngifdemo></app-ngifdemo>
<!-- <app-ngfordemo></app-ngfordemo> -->
<!-- <app-ngifdemo></app-ngifdemo> -->
<!-- <div class='panel panel-primary'>
  <div class='panel-heading'>
      {{title}}
  </div>

  <div class='panel-body'>
      <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>Title</th>
                      <th>Director</th>
                      <th>Cast</th>
                      <th>Release Date</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let movie of movies;">
                      <td>{{movie.title}}</td>
                      <td>{{movie.director}}</td>
                      <td>{{movie.cast}}</td>
                      <td>{{movie.releaseDate}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div> -->
<!-- <div class='panel-body'>
  <div class='table-responsive'>
      <table class='table'>
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Director</th>
                  <th>Cast</th>
                  <th>Release Date</th>
              </tr>
          </thead>
<tbody>-->
<!-- <tr *ngFor="let movie of movies; let i=index;">
  <td> {{i}} </td>
  <td>{{movie.title}}</td>
  <td>{{movie.director}}</td>
  <td>{{movie.cast}}</td>
  <td>{{movie.releaseDate}}</td>
</tr> -->
<!-- <tr *ngFor="let movie of movies; let i=index; let o= odd; let e=even;"
[ngClass]="{ odd: o, even: e }">
    <td> {{i}} </td>
    <td>{{movie.title}}</td>
    <td>{{movie.director}}</td>
    <td>{{movie.cast}}</td>
    <td>{{movie.releaseDate}}</td>
</tr> -->
<!-- <tr *ngFor="let movie of movies; let i=index; let first= first; let last=last;" [ngClass]="{ first: first, last: last }">
  <td> {{i}} </td>
  <td>{{movie.title}}</td>
  <td>{{movie.director}}</td>
  <td>{{movie.cast}}</td>
  <td>{{movie.releaseDate}}</td>
</tr> -->
 

<!-- </tbody>
</table> -->


<!-- <div class='card'>
  <div class='card-header'>
    <p>Nested Array</p>
  </div>
 
  <div class='table-responsive'>
    <table class='table table-bordered table-sm '>
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Mail ID</th>
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees;">
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>
            <table class='table table-sm '>
              <tbody>
                <tr *ngFor="let skill of employee.skills;">
                  <td>{{skill.skill}}</td>
                  <td>{{skill.exp}}</td>
                </tr>
              </tbody>
            </table>
 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->